.navbar {
    background: white;
    height: 60px;
    color: #004072;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
    div {
        margin-top: 1rem;
    }
}
