/* Style the  cards */
.card-container {
    display: flex;
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 0px !important;
      text-align: center;
      background-color: #2596be;
      flex: 1 1;
      margin: 1rem 0.5rem;
      padding: 1rem;
      cursor: pointer;
      height: 100%;
      color: #FFF;
    }
}