<div class="card" (click)="handleOnClick()" *ngIf="item?.id">
  <div>
    <div class="icon-container">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <div class="content">
      {{ parameterToShow | titlecase }}: {{ item[parameterToShow] }}
    </div>
  </div>

  <!-- THIS IS TEMPLATE BASED APPROACH to show by toggle variable-->

  <!-- 
          <div class="icon-container">
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
          <div *ngIf="isIdSelected; else userIdTemplate">
             <div class="content">ID: {{ item.id }}</div>
         </div>
      <ng-template #userIdTemplate>    
        <div class="content">User Id: {{ item.userId }}</div>
      </ng-template> -->

  <!-- THIS IS TEMPLATE BASED APPROACH -->
</div>
