<div class="card" (click)="handleOnClick()" *ngIf="item.id">
    <div>
        <div style="flex: 1; text-align: left">
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
          <div style="text-align: left; margin-top: 0.5rem">
           {{ parameterToShow | titlecase}}: {{ item[parameterToShow] }}
          </div>
    </div>

    <!-- THIS IS TEMPLATE BASED APPROACH -->
    
      <!-- <div *ngIf="isIdSelected; else userIdTemplate">
        <div style="flex: 1; text-align: left">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div>
          <div style="text-align: left; margin-top: 0.5rem">ID: {{ item.id }}</div>
        </div>
      </div>
      <ng-template #userIdTemplate>
        <div style="flex: 1; text-align: left">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
        <div style="text-align: left; margin-top: 0.5rem">
          User Id: {{ item.userId }}
        </div>
      </ng-template> -->

    <!-- THIS IS TEMPLATE BASED APPROACH -->
    </div>